<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <%- include ('partials/head')%>
</head>
<body>
  <%- include('partials/navigation') %>
  
  <main class="vh-100 conteiner pt-2 text-center d-flex justify-center align-items-center">
    <section>
      <h1 clas "display-1">About</h1>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur beatae hic libero et! Optio ea maxime, qui distinctio aperiam sapiente voluptatum quaerat ratione dignissimos. Consequatur sequi sunt assumenda reprehenderit laudantium praesentium earum nam ea illum quos possimus sint beatae quisquam, adipisci officiis quasi voluptas dignissimos maiores, minima voluptatem dolore ad commodi. Culpa doloremque necessitatibus, enim amet commodi nam itaque, consequuntur voluptatibus veniam voluptatem fuga ab pariatur corrupti qui reprehenderit? Nobis minus, ad at voluptates temporibus ipsa pariatur tenetur esse voluptatibus adipisci nostrum officia? Quisquam, culpa qui est esse consequatur et rerum vero magnam minus, doloremque amet ut architecto ipsum animi sint veniam praesentium itaque, dolorum laborum consectetur magni laudantium consequuntur. Doloribus similique esse, saepe veniam in quas exercitationem dolorum quae sed cum deleniti autem id odio animi pariatur error reprehenderit! Maxime quo illo suscipit quia excepturi earum rem iusto, numquam sapiente? Odit quas vitae aspernatur eveniet hic fuga, consequuntur minus accusamus rerum, ab officia quo commodi natus totam. Aliquid deserunt minus officiis magni explicabo! Optio iste culpa aut? Ea quisquam quos, illo rerum modi impedit ipsam fuga culpa perspiciatis debitis qui consequuntur ducimus molestiae et minus earum dolorum, harum optio itaque odio provident suscipit ratione nostrum iusto. Vitae ullam ipsam quisquam a odio quidem id debitis, magnam corporis sunt rem tempora nam, neque excepturi velit voluptate libero illo, iste aspernatur consectetur quis ducimus praesentium vero? In ad doloribus culpa voluptatum dolorem cumque? Nobis autem quasi facere quas, ipsa vel eos! Consectetur dicta assumenda culpa, aut repudiandae nemo commodi! Recusandae sint nostrum minima sit quisquam perspiciatis, eligendi accusamus assumenda. Dolor, accusantium dolorum impedit ut repudiandae doloremque dolore iure adipisci natus unde sint quibusdam minus qui quae magnam suscipit deserunt eum aperiam iste veniam aliquid. Maiores similique laudantium sed consectetur assumenda, dolores accusamus, quod doloremque velit debitis culpa nostrum placeat? Et, pariatur!</p>
    </section>
  </main>
  <%- include('partials/footer') %>
</body>
</html>