<footer class="bg-dark text-center p-4">
  <p class="h4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis qui ab id quibusdam at quisquam voluptates labore molestiae minima dicta facere illo, doloremque deleniti impedit unde velit recusandae nisi perferendis enim cum ut adipisci. Voluptatem corrupti dicta, adipisci qui eos ullam vel illo aliquid recusandae. Totam, minus facilis? Aliquam, pariatur!</p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js">  
</script>